/* ===================================
   PayNest v4
   Animations
=================================== */

@keyframes fade{

    from{

        opacity:0;

    }

    to{

        opacity:1;

    }

}

@keyframes slideUp{

    from{

        opacity:0;

        transform:translateY(25px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

.slide-up{

    animation:slideUp .35s ease;

}

.fade{

    animation:fade .3s ease;

}

@media(prefers-reduced-motion:reduce){

*{

animation:none!important;

transition:none!important;

}

}