/* ==========================================
   PayNest v1
   File : style.css
   Version : 1.0.0
   Description : Global Utilities
========================================== */

/* ---------- Utilities ---------- */

.hidden{
    display:none;
}

.text-center{
    text-align:center;
}

.w-100{
    width:100%;
}

.mt-1{
    margin-top:var(--space-1);
}

.mt-2{
    margin-top:var(--space-2);
}

.mt-3{
    margin-top:var(--space-3);
}

.mt-4{
    margin-top:var(--space-4);
}

.mb-1{
    margin-bottom:var(--space-1);
}

.mb-2{
    margin-bottom:var(--space-2);
}

.mb-3{
    margin-bottom:var(--space-3);
}

.mb-4{
    margin-bottom:var(--space-4);
}
